<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title th:text="@{'Board' + ${post.title}}"></title>
</head>
<body>
<header th:insert="common/header.html"></header>
<div>
	<div>
		<div>
			<h5 th:text="@{'Title : '+${post.title} + ' - Author : ' + ${post.author}}"></h5>
			<p>
				<small th:text="${#temporals.format(post.createdDate, 'yyyy-MM-dd HH:mm')}"></small>
			</p>
			<p th:text="${post.content}"></p>
		</div>
	</div>
	<div>
		<div></div>
		<div><a role="button" th:href="@{'/post/edit/' + ${post.id}}">Edit</a></div>
	</div>
	<div>
		<form method="post" th:action="@{'/post/' + ${post.id}}">
			<input name="_method" type="hidden" value="delete"/>
			<button id="delete-btn" type="submit">Delete</button>
		</form>
	</div>

</div>
</body>
</html>